.headerBar{
    display: none;
    height: 60px;
}

.headerGradient{
    @include animatedGradientBody(100%);
    
    position: absolute;
    &:after{
        @include animatedHeroGradientAfter;
        height: 100vh;
        z-index: -1;
        mask-image: url($heroSVG);
        -webkit-mask-image: url($heroSVG);
        // clip-path: url(../../../assets/Layer\ 0.svg);
    }
}

#masked {
  width: 100px;
  height: 100px;
  background-color: #8cffa0;
  -webkit-mask-image: url(https://mdn.mozillademos.org/files/12676/star.svg);
  mask-image: url(https://mdn.mozillademos.org/files/12676/star.svg);
}
.heroMask{
    width: 100%;
}
.hero{
    position: relative;
    .heroTextContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    height: 100vh;
    text-align: center;
}