body{
    background-color: $bgBlue;
    .bodyWrapper{
        position: relative;
    }
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    padding: 0;
}
.about, .myWorks{
    background-color: $bgBlock;
    display: flex;
}
.segment{
    padding-top: 35px;
}
.gradientTitle{
    @include animatedGradientBody(150px);
    margin: 0 auto 30px;
    &:after{
        @include animatedGradientAfter;
    }
}
//************ About section css ************
.aboutContainer{
    display: flex;
    flex-wrap: wrap;
    .sectionTitle{
        flex: 1 0 100%;
    }
    .aboutImg{
        flex: 1 0 calc(40% - 80px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        .portfolioImg{
            border-radius: 10% 10% 10% 100%;
            width: 100%;
            max-width: 300px;
        }
    }
    .aboutText{
        flex: 1 0 60%;
    }
}
//************ Skill list css ************
.mySkills{
    height: 100vh;
    background: 
    linear-gradient(
        rgba(5, 7, 28, 0.90), 
        rgba(5, 7, 28, 1)), 
        url(../../../assets/615.png);
    padding-top: 40px;
    .mySkillsContainer{
        margin-bottom: 35px;
    }
}
.skillList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .skillBlock{
        flex: 1 0 calc(15% - 20px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 180px;
        margin: 10px 10px;
        background-color: $skillBlockBG;
        .skillIcon{
            height: 100px;
            width: 100px;
            margin: 20px auto;
            background-color: $bgSkillSphere;
            border-radius: 50%;
            position: relative;
            transition: 0.3s;
            &:hover{
                color: black;
                background-color: $white;
                transition: 0.3s;
            }
        }
    }
    i{
        font-size: 7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
//************ My Works css ************
.myWorks{
    .galleryContainer{
        min-height: 50vh;
        width: 100%;
        position: relative;
        .project{
            height: 45vh;
            display: flex;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
            &.active{
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }
        }
    }
}

.projectBlock{
        display: flex;
        width: 50%;
        &.right{
            min-width: 25rem;
            img{
                max-width: 100%;
                object-fit: contain;
            }
        }
        &.left{
            flex: 1 0 55%;
            flex-direction: column;
            justify-content: space-evenly;
            padding-right: 20px;
            .subSectionTitle{
                margin-top: 0;
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            p{
                margin: 0;
                line-height: 30px;
            }
            .projectTools{
                margin-bottom: 10px;
            }
        }
}
.linkButtons{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    .gradientBorder{
        position: relative;
        margin: 0 15px;
        padding: 15px 0;
        z-index: 1;
        .gradientLink{
            text-decoration: none;
            padding: 15px 30px;
            background-color: $bgBlock;
            color: $white;
            transition: 0.3s;
            // margin: 0 15px;
            text-transform: uppercase;
            position: relative;
            z-index: 2;
            &:hover{
                    background-color: $bgSkillSphere;
                }
            }
            &:after{
                    @include animatedButtonGradientAfter;
                }
    }
    
}
.galleryControls{
    height: 15vh;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    .galleryNodes{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 70%;
        z-index: 2;
        .projectNode{
            position: relative;
            height:50px;
            width:50px;
            background-image: url("../../../assets/shape.png");
            i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 4;
                    font-size: 2.5rem;
                }
            &:hover{
                &:after{
                    @include animatedGradientAfter;
                    height: 60px;
                    width: 60px;
                    top: -5px;
                    // left: 0;
                    -webkit-clip-path: circle(25px at 25px 30px);
                    clip-path: circle(25px at 25px 30px);
                }
            }
            &.active{
                &:after{
                    @include animatedGradientAfter;
                    height: 60px;
                    width: 60px;
                    top: -5px;
                    // left: 0;
                    -webkit-clip-path: circle(25px at 25px 30px);
                    clip-path: circle(25px at 25px 30px);
                }
                
            }
        }
    }
}
.galleryBar{
    @include animatedGradientBody(65%);
    margin: 5vh auto;
    height: 0px;
    &:after{
        @include animatedGradientAfter;
    }
}
//Contact and Social Media Styles
.contact{
    height: 100vh;
}

.contactContainer{
    display: flex;
    .contactForm, .socialMedia{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    .contactForm{
        margin-left: 5%;
    }
    .socialMedia{
        margin-right: 5%;
        h4{
            text-align: center;
        }
    }
}

.contactField{
    position: relative;
}
input{
    height: 40px;
}
textarea{
    resize: none;
}

input, textarea{
    width: 100%;
    text-indent: 5px;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: $bgBlock;
    border-image-slice: 1;
    color: $white;
}

label{
    position: absolute;
    top: 10px;
    left: 5px;
    pointer-events: none;
    transition: 0.5s;
}

input:not(:placeholder-shown) ~ label, input:focus ~ label, textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label{
    top: -20px;
    color: $highlightLinks;
    
}
input:invalid{
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: red;
}
.gradientButton{
    position: relative;
    z-index: 3;
    &:after{
        @include animatedButtonGradientAfter;
    }
    input{
        &:hover{
            background: $bgSkillSphere;
            transition: 0.3s;
        }
    }
    
}

.gradientInput{
    @include animatedGradientBody(100%);
    
    &:after{
        @include animatedGradientAfter;
        left: 0;
    }
}
.social{
    margin-bottom: 25px;
    
    color: $white;
    &:hover{
        color: $highlightPurple;
        transition: 0.3s;
    }
}
.socialLinks {
    display: flex;
    text-align: center;
    justify-content: space-around;
    li{
        text-align: center;
    }
    a{
        text-decoration: none; 
    }
    i{
        margin-right: 15px;
    }
}


