$josefin: 'Josefin Sans', sans-serif;
$cardo: "Cardo", serif;

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}
html{
    font-size: 62.5%;
    color: $white;
}

.heroName{
    @include fontSize(90);
    font-family: $cardo;
    margin-bottom: 0;
}
.heroJob, .jobListContainer{
    @include fontSize(50);
    // color: $highlightBlue;
    // margin-top: 0;
}
.sectionTitle, .social i{
    @include fontSize(35);
    text-align: center;
    margin-bottom: 5px;
}
.skillTitle{
    @include fontSize(20);
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    flex: 1 0 100%;
}
.subSectionTitle{
    @include fontSize(20);
}
input[type="text"], input[type="email"], textarea, .social, .linkButtons a, label, p{
    @include fontSize(16);
}