// background colours and mixins
$bgBlue: #07081a;
$bgHighlight: #02031c;
$bgBlock: #0d0f25;
$skillBlockBG: #03052d;

//highlight colours
$highlightBlue : #3d59e8;
$highlightPurple: #8e00ff;
$white: #FFFFFF;
